@font-face {
  font-family: 'Climate Crisis';
  src: url("ClimateCrisis.ttf") format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url("AtkinsonHyperlegible-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url("AtkinsonHyperlegible-Bold.ttf") format('truetype');
}

body {
  background-color: #282828;
  text-align: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h3 {
  color: #ebdbb2;
}

h1 {
  font-family: 'Climate Crisis', 'Atkinson Hyperlegible Bold', sans-serif;
  text-align: center;
  color: #ebdbb2;
  font-size: 90pt;
  font-variation-settings: "YEAR" 1990;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100px;
}

span {
  display: block;
  overflow: hidden;
  width: 100%;
}

input{
  background-color: #ebdbb2;
  border: 0;
  font-size: 13pt;
  color: #282828;
  text-align: center;
  width: 100%;
  outline: none;
}

list {
  text-align: center;
  text-decoration: none;
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: center;
  margin-left: 1em;
  font-size: 13pt;
}

.all:nth-child(1) {
  margin-left: 0;
}

.title {
  text-align: center;
  width: 12em;
  font-family: 'Atkinson Hyperlegible Bold', sans-serif;
  font-size: 13pt;
  font-weight: bold;
}

.google {
  background-color: #cc241d;
}

.reddit {
  background-color: #458588;
}

.programming {
  background-color: #689d6a;
}

.gaming {
  background-color: #d65d0e;
}

.linux {
  background-color: #98971a;
}

.links {
  text-align: center;
  color: #282828;
  text-decoration: none;
  background-color: #ebdbb2;
  width: 12em;
}

.search{
  background-color: #ebdbb2;
  max-width: 20%;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 12em;
}
